/* Reset basic styles browser */
@import "~normalize.css";

/*SMART GRID*/
//@import "smart-grid";

/* ADD MIXIN */
@import "mixin";

/* VARIBLES*/
$black: #0D0A1B;
$white: #fff;
$blue: #69ecf1;
$pink: #f097ef;

body {
  color: $white;
  background-color: $black;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  margin-top: 24px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  @include breakpoint(medium) {
    margin-top: 64px;
  }
}
.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  img {
    max-width: 210px;
  }
}
.share-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a {
    position: relative;
    max-width: 172px;
    margin: 0 15px 20px;
    @include breakpoint(medium) {
      margin-bottom: 0px;
    }
    &:after {
      content: '';
      position: absolute;
      left: -5px;
      right: -5px;
      bottom: -5px;
      top: -5px;
      background: linear-gradient(45deg, $pink, $blue);
      opacity: 0.2;
      filter: blur(15px);
      transition: opacity .3s ease-in;
      z-index: 2;
    }
    &:hover {
      &:after {
        opacity: 0.35;

      }
    }
    img {
      position: relative;
      z-index: 3;
      border-radius: 6px;
    }
  }
}
.intro-section {
  position: relative;
  min-height: 100vh;
  //margin-bottom: 60vh;
  //display: flex;
  //justify-content: center;
  //align-items: flex-end;
  //padding-bottom: 20vh;
  //background-position: center center;
  //background-repeat: no-repeat;
  //background-size: cover;
  overflow: hidden;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  &__top {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50vh;
    background-image: url('../images/header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
  }
  &__bottom {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 55vh;
    background-image: url('../images/footer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.drone {
  position: absolute;
  pointer-events: none;
  &--left {
    top: 37%;
    left: 5%;
    max-width: 76px;
    @include breakpoint(medium) {
      max-width: 152px;
      left: 20%;
    }
  }
  &--center {
    top: 52%;
    left: 17%;
    max-width: 235px;
    @include breakpoint(medium) {
      max-width: 471px;
      left: 33%;
    }
  }
  &--right {
    top: 50%;
    right: 0%;
    z-index: 4;
    max-width: 135px;
    @include breakpoint(medium) {
      max-width: 269px;
      top: 50%;
      right: 13%;
    }
  }
}